# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
#
# Managed by Peribolos: https://github.com/open-feature/community/blob/main/config/open-feature/sdk-golang/workgroup.yaml
#
* @open-feature/sdk-golang-maintainers @open-feature/maintainers
